.header {
  color: #000;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: #FFF;
  padding: 0 0.6rem;

  button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
  }
}

.headerItem {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.headerIcon {
  font-size: 2.5rem;
  padding-bottom: 0.6rem;
}

.headerTitle {
  font-size: 1.5rem;
  font-family: var(--font-roboto);
}

.navItemsContainer {
  display: flex;
  gap: 1.2rem;

  a {
    font-weight: bold;
  }

  span {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
  }
}

.lightModeConfig {
  cursor: pointer;
}

.languageConfig {
}

.negrito {
  font-weight: bold;
}

.darkMode {
  color: #FFF;
  background-color: #000;

  .navItemsContainer {
    span {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

@media (max-width: 1250px) {
  .navItemsContainer {
    display: none;
  }
}

@media (max-width: 650px) {
  .headerItem button {
    display: none;
  }
}

